*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
main{
	width: 70%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;    
	padding: 40px;
	background-color: #2c7d24;
	display: flex;
	flex-wrap: wrap; 
	justify-content: center;
	box-shadow: 20px 20px 40px 40px rgba(142, 224, 79, 0.7)	 
}

body {
	background-color: #1d4d18;

}
.photo {

	width: calc(50% - 50px);
	height: calc((35vw - 50px) / 16 * 9);
	margin: 10px;
	background-color: #674a7d;
	background-size: cover; 
	box-shadow: 20px 20px 40px 40px rgba (91, 224, 79, 0.7);
	transition: 0.6s ease;
}
.photo1 {
	background-image: url(ynnv.jpg); 
}

.photo2 {
	background-image: url(vp.jpeg); 
}
.photo3 {
	background-image: url(shit.jpg); 
}
.photo4 {
	background-image: url(byerak.jpg); 

}
.photo:hover{
	transform: rotate(2deg) scale(1.1);
}
h1{
	color:#cefaac;
	text-align: center;
	width: 100%;
}